# This is Git's per-user configuration file.
[user]
	name = Frederick Gaens
	email = frederick@codesolutions.be
[core]
	excludesfile = /Users/frederickgaens/.config/git/.gitignore_global
	autocrlf = input
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	templatedir = ~/.config/git/.git_template

[rerere]
	enabled = true

[includeIf "gitdir:~/development/evonik/"]
	path = ~/.config/git/.gitconfig-evonik

[includeIf "gitdir:~/development/fednot/"]
	path = ~/.config/git/.gitconfig-fednot
